*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
:root{
  --primay-color: #cc3e13;
}

body{
  background-color: #e8e8e8;
  position: relative;
}

main{
  background-color: hsl(13, 31%, 94%);
  box-shadow:  3px 20px  30px 5px rgba(0, 0, 0, .2);
  border-radius: 10px;
  gap: 1rem;
  margin: 6rem auto;
  width: fit-content;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: .5rem;
}

.cardContainer{
  flex-direction: column;
}

.flexCard{
  display: flex;
  max-width: 50rem;
  flex-wrap: wrap;
}

.card{
  width: 16rem;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 4rem;
  padding: .5rem;
}

.card:hover{
  background-color: rgba(181, 180, 180, .2);
  box-shadow:  3px 0px  20px 5px rgba(0, 0, 0, .2);
  filter: brightness(.8);
}

.card:hover .imgCard{
  transform: scale(1.06);
}

.wrapper{
  position: relative;
  width: 100%;
}

.card img{
  display: block;
  width: 100%;
  border-radius: 10px;
  transition: transform .3s ease-in-out, filter .3s ease;
  
}

.buttonCard{
  border-radius: 30px;
  padding: .5rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  gap: 1rem;
  outline: none;
  border: 1px solid gray;
  background-color: #FFF;
  display: flex;
  margin: auto;
  align-items: center; 
  cursor: pointer;
  position: absolute;
  top: 90%;
  left: 40.945px;
}

.content{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: .3rem;
}

.content .food{
  color: gray;
}

.content .typeFood{
  font-weight: bold;
}

.content .price{
  color: var(--primay-color);
}

.payment{
  background-color: #FFF;
  padding: 1rem 2rem;
  width: 20rem;
  height: fit-content;
  display: block;
  border-radius: 10px;
  position: sticky;
  top: 0;
}

.payTitle{
  color: var(--primay-color);
}

.payCart{
  color: #AD8A85;
  font-weight: bold;
}

.emptyCart li{
  list-style: none;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(222, 220, 220);
}

.emptyCart li p{
  font-weight: bold;
  padding: .5rem 0;
}

.itemData{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cancelItem{
  color: var(--primay-color);
  cursor: pointer;
}

.itemQtd{
  color: var(--primay-color);
}

.totalItem{
  color: rgb(27, 27, 27);
}

.emptyCart svg{
  width: 100%;
}

.orderContainer{
  padding-top: 1rem;
}

.orderText{
  margin: 1rem 0;
  font-size: small;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.amount{
  font-size: large;
  font-weight: bold;
  margin-left: auto;
}

.submit{
  display: block;
  width: 100%;
  border-radius: 15px;
  outline: none;
  border: none;
  padding: .5rem 0;
  color: #FFF;
  background-color: var(--primay-color);
  cursor: pointer;
}

.submit:hover{
  background-color: #c45938;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 90%;
  max-width: 400px;
}

.popup-header{
  .textContent{
    font-size: .7rem;
  }
}

.popup-header h2 {
  margin: 0;
  /* font-size: 1.8rem; */
  color: #663300;
}

.popup-header p {
  margin: 0;
  color: #555;
}

.popup-icon {
  font-size: 30px;
  color: green;
}

.popup-body {
  background-color: hsla(14, 100%, 95%, 0.479);
  margin-top: 20px;
  padding: 1rem;
  border-radius: 10px;
}

.popup-list{
  list-style-type: none;
  .popup-item{
    border-bottom: 1px solid rgb(219, 215, 215);
    padding: .5rem;
  }
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 1rem 0;
  border-bottom: 1px solid #dddbdb;
  font-size: .9rem;

  .itemImg{
    width: auto;
  }

  .itemImg img{
    width: 70%;
    border-radius: 3px;
  }

  .itemData{
    flex-direction: column;
    gap: .5rem;
  }

  .qtdPrice{
    display: flex;
    gap: 1rem;
  }

  .qtdPrice span{
    color: #555555e0;
  }

  #at{
    font-size: .7rem;
  }
}

.order-total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.orderPrice{
  list-style-type: none;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  strong{
    font-size: 1.5rem
  }
}

/* mobile device */

@media only screen and (max-width: 32rem /*480px*/){

  *{
    font-size: 1.2rem;
  }
  
  main{
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .flexCard{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: auto;
  }

  .card{
    width: 100%;
  }

  .imgCard{
    width: 100%;
  }

  .buttonCard{
    position: absolute;
    top: 93%;
    left: 80px;
  }

  .content{
    text-align: center;
  }

  .payment{
    width: 100%;
  }

  .emptyTitle{
    font-size: 1.38rem;
  }

};

/* tablet device */

@media only screen and (max-width: 48rem /*768px*/){

  main{
    flex-direction: row;
  }

  .flexCard{
    padding: 2rem 1rem;
    gap: 2rem;
  }
 
}

@media only screen and (max-width: 64rem /*1024px*/){
  main{
    display: flex;
    padding: 2rem 1rem;
  }

  .flexCard{
    width: 100%;
  }

  .card{
    width: 14.375rem;
  }

  .buttonCard{
    font-size: .8rem;
    position: absolute;
    top: 90%;
    left: 33px;
  }
}

@media only screen and (max-width: 90rem /*1440px*/){
  
  main{
    display: flex;
    padding: 4rem 2rem;
  }
}